# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
registries:
  maven-central:
    type: maven-repository
    url: https://repo.maven.apache.org/maven2/
  maven-snapshots:
    type: maven-repository
    url: https://s01.oss.sonatype.org/content/repositories/snapshots/
  creek-github-packages:
    type: maven-repository
    url: https://maven.pkg.github.com/creek-service/*
    username: "Creek-Bot-Token"
    password: "\u0067hp_LtyvXrQZen3WlKenUhv21Mg6NG38jn0AO2YH"
updates:
  - package-ecosystem: github-actions
    directory: /
    open-pull-requests-limit: 50
    schedule:
      interval: monthly
  - package-ecosystem: gradle
    directory: /
    registries:
      - maven-central
      - maven-snapshots
      - creek-github-packages
    open-pull-requests-limit: 50
    schedule:
      interval: monthly
  - package-ecosystem: gradle
    directory: /buildSrc
    registries:
      - maven-central
      - maven-snapshots
      - creek-github-packages
    open-pull-requests-limit: 50
    schedule:
      interval: monthly
