# A Workflow for triggering a new release.
#
# Releasing is a two-stage process.
# 1. Running this workflow will check the build is green and then push a release tag to the repo, e.g., v1.2.3
# 2. Pushing the release tag will trigger the main build.yml.
#    This main build has conditional steps to publish artifacts when building a tag

name: Release

on: [workflow_dispatch]

permissions:
  contents: read

concurrency: "${{ github.repository }}-versioning"

jobs:
  release:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ secrets.TRIGGER_GITHUB_TOKEN }}
      - name: Fetch version history
        run: git fetch --tags --unshallow
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          gradle-home-cache-cleanup: true
      - name: Ensure build is green
        run: |
          # Locally, set the release version
          ./gradlew createRelease -Prelease.disableSnapshotsCheck
          # Fail on snapshots:
          ./gradlew verifyRelease 
          # Then run the build, with proposed creekVersion
          ./gradlew build
      - name: Release
        run: |
          # The following command will trigger the build.yml workflow as it pushes a release tag
          ./gradlew pushRelease
      - name: Capture version info
        run: |
          echo "Release version: $(./gradlew cV -q -Prelease.quiet)" >> $GITHUB_STEP_SUMMARY 

